<p>Hello Adnane, You got a new Email From {{ name }},</p>
<p>His Corresponding Email is: {{ email }}</p>
<p>He wanted to reach you out about the following subject: {{ subject }}</p>
<p>His Message is: <BR> {{ message }}</p>


